/*
  File name: pizza_store_style.css
  Author: Meisam Koohaki
  web site name: Pizza Delicious
  file description: CSS for the Pizza Delicious page which is in the projects_page
*/

body 
 	      {
		   text-align: left;
		   font: 125%/1.4 Helvetica, Arial, sans-serif color: black;
		   background-color: #FF6666;
  	      } 
#container, #container1 
	      {
		   width: 80%;
		   border-radius: 10px;
		   margin: 0 auto;
		   background-color: #F5F5F5;
		   padding: 20px;
	      }
		  
#container1 
	      {
		   background-color: #FFD54F;
	      }
nav
		  {
		  	width: center;
		  	margin: 0 auto;
		  }
nav ul
		  {
		  	height: 30px;
		  	list-style-type: none;
		  	padding: 0 30px;
		  	margin: 0;
		  }
nav li
		  {
		  	height: 30px;
		  	padding: 0;
		  	margin: 0 5px 0 0;
		  	float: right;
		  }
nav li a
		  {
		  	height: 20px;
		  	display: block;
		  	padding: 10px 15px 20px 15px;
		  	text-decoration: none;
		  	background-color: #F2D7D5;
		  }
nav li a:link
		  {
		  	color: #333;
		  }
nav li a:visited
		  {
		  	color: #333;
		  }
nav li a:hover
		  {
		  	color: #000;
		  	background-color: #FFF;
		  }
nav li a:active
		  {
		  	background-color: #FFF;
		  	color: #F30;
		  }

h1
          {
	       font: normal 24px, Arial;
	       color:black;
		   text-align: center;
		   line-height: 1;
		   font-weight: 100;
          }

h1 span   {
  		  	font-weight: 700;
  		  	color: black;
  		  	display: block;
  		  	font-size: 40px;
		  }
a[href="#mainContent"]
          {
           position: relative;
           left: 0;
           color:white;
          }

a[href="#mainContent"]:focus 
          {
           left: 0;
           color:white  
          }
.link
          {
		   list-style-type: none;		   
		  }
.link a 
          {
		   color: black;
		   margin: auto;
	       text-align: center;
	       list-style-position: inside;
		  }
#edit_order_payment_info
		  {
  		    width: 250px;
  		    height: 450px;
  		    margin: auto;
  		    position: center;
  		  }
#main-footer, #order-footer
		  {
				position: relative;
		    text-align: center;
				top: 130px;
		  } 
#order-footer
			{
				top: 70px;
				
			}

legend 
		  {
	        background-color: #FF6666;
	        color: #fff;
	        padding: 0px 50px;
		    text-align:center;
    		font-size: 20px;
		  }
label.error 
		  {
		  	color: red;
		  	float: right;
		  }

#help_yourself , #payment
{
	position: relative;
	height: 1230px;
  border: 3px solid #FF6666;
  background-color: #e6b000;
  border-radius: 15px;  
}
#payment {
	height: 450px;
}
#pizza-order ,#other-order, #drink-order
		 {
      float: left ;
		  width: 25%;
	    padding: 30px;
	    border: 3px solid #FF6666;
		  background-color: #F5B041;
		  border-radius: 15px; 
			height: 850px;  
			margin: 1.8%;
			margin-left: 2%;
		}
			

#other-order
		 {
		    width: 25%;
	      padding: 20px;
				height: 868px;
		  }
#drink-order
		 {
		    width: 20%;
	      padding: 20px;
				margin-top: -3px;
				height: 868px;
	     }
#custom-pizza-order, #order-by, #payment-info
  		 {
				 width: 95%;
	     position: relative;
			 top: 20px;
	     margin-left: auto;
			 margin-right: auto;
  	      border: 3px solid #FF6666;
  		  background-color: #F5B041;
  		  border-radius: 15px;
		  }
	#order-by, #payment-info {
		width: 46%;
		float: left;
	margin-left: 3.4%;	
	margin-right: 1.7%;		
	height: 320px;
 top: 20px;
	}		
#payment-info {
	width: 35%;
	text-align: center;
	margin-top:-36px;
}
#custom-pizza-order {
	text-align: center;
	width: 92%;
}
#order-by
		 {
	      position: left;
	     }
#payment-info
 		 {
		     position: right;
 	     }		 
#main-submit-button
		 {
	     background-color: #4CAF50;
	     color: white;
	     padding: 14px 50px;
	     text-align: center;
	     text-decoration: none;
	     display: inline-block;
	     font-size: 20px;
	     margin: 4px 2px;
      position: center;
	     cursor: pointer;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          border-radius: 8px;
          border: 1px solid green;
		 }
		 
#submit2 {
		  text-align: center;
		 }	
#coupen-submit-button
		 {
	     background-color: #4CAF50;
	     color: white;
	     padding: 4px 10px;
	     text-align: center;
	     text-decoration: none;
	     display: inline-block;
	     font-size: 10px;
	     margin: 4px 2px;
      position: center;
	     cursor: pointer;
          border-radius: 2px;
          border: 1px solid green;
		 }	  

.line {
		 margin: 10px;
		 margin-left: 0;
     border: 1px solid #FF6666;
	 }
#pizza-pic {
	position: relative;
	width: 95%;
	margin: 2.5%;
	
}